* {
  font-family: Calibri;
}

body {
  margin-top: 10mm;
  margin-left: 10mm;
  /*border:1px solid blue;*/
  width: 186mm;
  height: 250mm;

}

.bordas {
  display: grid;
  grid-template-rows: 0.68cm 260mm 0.68cm;
  grid-gap: 0mm;
}

#retangulo {
  position: absolute;
  width: 210mm;
  height: 0cm;
  border-top: 0.65cm solid rgb(127,127,127);
  margin-top: -10mm;  
  margin-left: -10mm;
}

#branco {
  width: 0cm;
  height: 0.6cm;
  position: absolute;
  margin-left: -0.5cm;
  margin-top: -12mm;

  border: 0.25cm solid white;
}

#retangulo_final {


  margin-top: 260mm;


    position: absolute;
  width: 210mm;
  height: 0cm;
  border-top: 1.5cm solid rgb(127,127,127);

  margin-left: -10mm;
}

.wrapper {
  display: grid;
  grid-template-columns: 90mm 90mm;
  grid-gap: 6mm;
  background-color: #fff;
  color: #444;
  margin-top: 0mm;
  margin-left: 5mm;
}

.box_a {
  background-color: white;
  margin-left: -2mm;


}
.box_b {
  background-color: white;

padding-top: 2mm;
margin-left: 0mm;

}

#facul {
  padding-left: 14mm;
  margin-top: -2mm;
}

.pessoal {
  padding-left: 5mm;
  margin-left: 5mm;

}
#calendario {
  width: 10mm;
  margin-left: -12.5mm;
  margin-top: 2mm;
  position: absolute;
}
#celular {
  width: 15mm;
  margin-left: -18mm;
  margin-top: 1mm;
  position: absolute;
}
#email {
  width: 8mm;
  margin-left: -10mm;
  margin-top: 2mm;
  position: absolute;
}
#lugar {
  width: 15mm;
  margin-left: -17mm;
  margin-top: 1mm;
  position: absolute;
}
#git {
  width: 28px;
  margin-left: -9mm;
  margin-top: 1mm;
  position: absolute;
}

h1 {
  font: bold 23px arial;
  /*border: 1px solid black;*/
}

h2 {
  color: rgb(0,112,192);
  font: bold 15px arial;
  /*border: 1px solid black;*/
}

h3 {
  margin-bottom: 0mm;
  color: rgb(0,112,192);
  font-weight: bold;
}


h4 {
  color: rgb(0,112,192);
  margin-top: -2mm;
}

p {
  font: bold 13px arial;
  margin-top: -2mm;
}

.objetivo {
  border-bottom: 3px solid rgb(127,127,127);
  padding-bottom: 2mm;
  margin-top: -3mm;
}
.cont_objetivo {
  padding-top: 5mm;
}

.edu {
  border-bottom: 3px solid rgb(127,127,127);
  padding-bottom: 2mm;
}
.cont_edu {
  padding-left: 10mm;
}
/*.item_lateral {
  /*position: absolute;
  margin-left: -8mm;
  width: 5mm;
  height: 5mm;
  z-index: 3;
position: absolute;
z-index: 3;
      
    



}*/
#ipl {
  position: absolute;
  width: 0mm;
  height: 0mm;
  margin-left: -7.5mm;
  border:2mm solid rgb(0,112,192);




  margin-top: 0mm;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    z-index: 3;
}
#unicamp {
  position: absolute;
  width: 0mm;
  height: 0mm;
  margin-top: 34.5mm;
  margin-left: -7.5mm;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  border:2mm solid rgb(0,112,192);
    z-index: 3;
}
#coc {
  position: absolute;
  width: 0mm;
  height: 0mm;
  margin-top: 91mm;
  margin-left: -7.5mm;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  border:2mm solid rgb(0,112,192);
    z-index: 3;
}
#anglo {
  position: absolute;
  width: 0mm;
  height: 0mm;
  margin-top: 112.5mm;
  margin-left: -7.5mm;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  border:2mm solid rgb(0,112,192);
    z-index: 3;
}
#linha {
  position: absolute;
  margin-left: -6mm;
  margin-top: 0mm;
  width: 0.5mm;
  height: 128mm;
  border-left: 0.8mm dashed rgb(127,127,127);
  border-bottom: 1px solid #fff;
}

.xp {
  border-bottom: 3px solid rgb(127,127,127);
  padding-bottom: 2mm;
}
.cont_xp {
  padding-left: 10mm;
}
.item_lateral_direita {
  position: absolute;
  margin-left: -8mm;
  width: 5mm;
  height: 5mm;
  z-index: 3;
}
#ales {
  position: absolute;
  width: 0mm;
  height: 0mm;
  margin-left: -7.5mm;

  margin-top: 0mm;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  border:2mm solid rgb(0,112,192);
    z-index: 3;
}
#sv {
  position: absolute;
  width: 0mm;
  height: 0mm;
  margin-left: -7.5mm;

  margin-top: 34.5mm;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  border:2mm solid rgb(0,112,192);
    z-index: 3;
}
#aiesec {
  position: absolute;
  width: 0mm;
  height: 0mm;
  margin-left: -7.5mm;

  margin-top: 60.5mm;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  border:2mm solid rgb(0,112,192);
    z-index: 3;
}
#linha_direita {
  position: absolute;
  margin-left: -6mm;
  margin-top: 0mm;
  width: 0.5mm;
  height: 95mm;
  border-left: 0.8mm dashed rgb(127,127,127);
  border-bottom: 1px solid #fff;
}

.idioma {
  border-bottom: 3px solid rgb(127,127,127);
  padding-bottom: 2mm;
}
.cont_idioma {
  margin-top: 5mm;
}

.hab {
  border-bottom: 3px solid rgb(127,127,127);
  padding-bottom: 2mm;
}

#cont_hab {
  font: bold 17px Calibri;
  display: grid;
  padding-top: 3mm;
  grid-row-gap: 1mm;
  color: black;
  grid-column-gap: 0mm;


    grid-template-columns: 35mm 15mm 15mm 15mm;
}

.box-y {
  

    border: 2px solid rgb(127,127,127);
    border-top: 6mm solid rgb(127,127,127);
}

.box-n {
  background-color: white;

    border: 2px solid rgb(127,127,127);
}



.losango{
    width: 4mm;
    height: 4mm;
    margin-left: 1px;
    margin-top: 0mm;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgb(0,112,192);
}